{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock head_title %}


{% block content %}
<div class="container">
    <div class="row text-center d-flex justify-content-center">
        <h1 class="h1 my-5">{% trans "Confirm Email Address" %}</h1>
        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            {% if can_confirm %}
                <h2 class="h3">Hey there, {{ user_display }}!</h2>
                <p>
                    {% blocktrans with confirmation.email_address.email as email %}
                    Please confirm that this is your email address: 
                    <a href="mailto:{{ email }}">{{ email }}</a>
                    {% endblocktrans %}
                </p>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button type="submit" class="mt-5 btn btn-lg btn-warning authentication-button">
                        {% trans 'Yep, that\'s me!' %}
                    </button>
                </form>

            {% else %}

                <p>{% blocktrans %}Unable to confirm {{ email }}. Already have an account?{% endblocktrans %}</p>
                <a href="{{ login_url }}">Sign In</a> first.</p>

            {% endif %}
        {% else %}

            {% url 'account_email' as email_url %}
            <p>
                {% blocktrans %}
                This email confirmation link expired or is invalid. Please 
                <a href="{{ email_url }}">
                    issue a new email confirmation request
                </a>.
                {% endblocktrans %}
            </p>

        {% endif %}
    </div>
</div>

{% endblock content %}
