{% extends "../base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <h1 class=" text-center">{% trans "Sign Up" %}</h1>
      <p class="text-center h6">{% blocktrans %}Already have an account? Please <a href="{{ login_url }}" class="direct-link">sign in</a>.{% endblocktrans %}</p>
      <form class="signup contact-text col-lg-6 col-md-9 col-sm-12 mt-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="button-container d-flex justify-content-center">
          <button class="btn btn-lg btn-warning authentication-button" type="submit"><i class="fa-solid fa-user-plus me-3"></i>{% trans "Sign Up" %}</button>
        </div>
      </form>
  </div>
</div>

{% endblock content %}
