{% extends "../base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container text-center">
  <div class="row d-flex justify-content-center align-items-center">
    <h4>Hey there!</h4>
    <h1 class="mb-5">{% trans "Let's Get You Signed Up" %}</h1>
      <p>{% blocktrans %}Already have an account? Please <a href="{{ login_url }}" class="direct-link">sign in</a>.{% endblocktrans %}</p>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction my-5 authentication-button" type="submit">{% trans "Sign Up" %}</button>
      </form>
  </div>
</div>

{% endblock content %}
