{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row text-center d-flex justify-content-center">
        <h1 class="h1 my-5"><i class="fa-solid fa-lock me-4"></i>{% trans "Verify Your Email" %}</h1>
        <div class="col-lg-6 col-md-8 col-sm-12 ">
            <p class="text-center">
                {% blocktrans %}
                We have sent an email to you for verification. 
                Please follow the link provided to finalize the signup process.
                {% endblocktrans %}
            </p>
            <p>
                If you do not see the verification email in your main inbox, check your spam folder. 
                Please contact us if you do not receive the verification email within a few minutes.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
