<div class="list-starter d-flex justify-content-start align-items-center">
  <div class="step">
    <a class=" list-group-item list-group-item-action step" href="#list-item-{{feature_id}}">
      {{ feature.step }}
    </a>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#list-group" data-bs-smooth-scroll="true" class="scrollspy-group text-center" tabindex="0">
  <h3 id="list-item-{{feature_id}}" class="mb-4">{{ feature.title }}</h3>
  <p class="list-item-paragraph">{{ feature.content | safe }}</p>
  </div>
</div>