{% load static %}
<div class="jumbotron-full mb-5">
  <div class="row">
    <div class="col-12 mx-0">
        <section class="callout jumbotron mb-4 py-5 d-flex flex-column justify-content-between">
          <div class="main-jumbo mx-5 brand white-text">
            <h1 class="jumbo-heading">Your Day. Your Way.</h1>
            <p class="h4">Welcome to Ireland's No.1 Task Tracking software.</p>
            <em>Trusted by businesses. Loved by users.</em>
          </div>
          <div class="message-jumbo mx-5 brand white-text">
            {% if request.user.is_authenticated %}
            <p class="lead">Hey, {{user}}!</p>
            <p class="lead">
              Check your spaces to make sure you're staying on top of your tasks!
            </p>
            <a href="{{ workspace_url }}" class="direct-link">
              <button class="btn btn-warning btn-lg">
                My Workspaces<i class="fa-solid fa-door-open ms-3"></i>
              </button>
            </a>
            {% else %}
            <p class="lead mt-5">Sign up/login today to stay on top of your day!</p>
            <a class="nav-link btn mb-3 d-flex justify-content-start" href="{% url 'account_signup' %}">
              <button class="btn btn-info btn-signUp btn-lg">
                <i class="fa-solid fa-user-plus mx-1 me-3"></i>Sign Up!
              </button>
            </a>
            <span>P.S. It's free. ;)</span>
          {% endif %} 
          </div>
        </section>
    </div>
  </div>
</div>