{% load static %}
<!-- Reviews -->
<div class="container">
    <h2 class="text-center mt-2 pb-5 brand bb-grey">
      <i class="fa-solid fa-star"></i>
      <i class="fa-regular fa-star me-3"></i>What Our Users Say About Us...
    </h2>
    <div class="row d-flex justify-content-around">
      
    {% for review in five_star %}
    {% if review.approved %}
    <div class="col-lg-4 col-md-5 col-sm-12 zenlist-review my-3">
      <div class="author-review mb-3 p-2">
        <div class="author-profile d-flex justify-content-between">
          <img class="card-img-top me-3 my-2 profile-image" 
          src="{% static 'images/default_profile_image.jpg' %}" 
          alt="default profile icon image">
          <p class="star-rating">{{review.rating}}</p>
        </div>
        <div class="author-personal">
          <p class="author-bio my-2 h5">{{review.author}}</p>
          <p class="author-industry">industry: {{review.job_industry}}</p>
        </div>
        <p>{{review.review | safe}}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
<!-- /Reviews -->