{% load static %}
<!-- Reviews -->
<div class="container">
    <h2 class="text-center mt-2 pb-5 brand bb-grey">
      <i class="fa-solid fa-star"></i>
      <i class="fa-regular fa-star me-3"></i>What Our Users Say About Us...
    </h2>
    <div class="row d-flex justify-content-around">
      
    {% for review in five_star %}
    {% if review.approved %}
    <div class="col-lg-3 col-md-6 col-sm-12 zenlist-review">
      <div class="author-review mb-3">
        <p class="star-rating">{{review.rating}}</p>
        <div class="main-review-content d-flex align-items-start">
          <p>{{review.review | safe}}</p>
        </div>
      </div>

      <div class="author d-flex align-items-start justify-content-end">
        <div class="author-profile d-flex align-items-center justify-content-center">
          <img class="card-img-top mx-3 profile-image" 
          src="{% static 'images/default_profile_image.jpg' %}" 
          alt="default profile icon image">
          <div class="author-personal">
              <h5 class="author-bio">{{review.author}}</h5>
              <p class="author-industry">industry: {{review.job_industry}}</p>
          </div>
        </div>
        <!-- !!! This needs some adjusting !!! -->
        {% if review.author == user %}
        <p class="{% if review.author == request.user and not review.approved %}faded 
        {% else %}d-none {% endif %}">
          Your comment is awaiting approval!
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
<!-- /Reviews -->