{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <h2 class="text-center mt-2">Get in Touch</h2>
        <div class="col-4 mt-2">
            <p class="text-center mb-3">Would like some more information or just a chat? Send me a message and I'll get back to you as soon as I can!</p>
            <form method="post" id="contactForm">
                {% csrf_token %}
                {{contactForm | crispy}}
                <div class="button-container d-flex justify-content-center">
                    <button class="btn btn-warning button-authentication">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}