{% extends "base.html" %}
{% load static %}

{% block content %}
{% if reviews %}
<div class="container d-flex flex-column mt-3">
    <div class="heading-container d-flex align-items-start justify-content-between mb-4" style=" width: 100%;">
        <h1 class="text-center">Zenlist Reviews</h1>
        <div class="select-filter my-4">
            <label for="review-filter" class="me-2"><strong>Sort by:</strong></label>

            <select name="review-filter" class="px-2 py-1" id="review-filter">
            <option value="by best">by best</option>
            <option value="by lowest">by lowest</option>
            <option value="by recent">by recent</option>
            </select>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for review in reviews %}
        <div class="col-md-6 col-sm-12 zenlist-review mb-3 mx-2 px-4 py-2 bb-grey" 
        data-reviewed-on="{{review.reviewed_on}}" data-highest-rate="{{review.rating}}" data-review-id="{{review.id}}">
            <div class="author-review mb-3 text-center">
                <p class="star-rating">{{review.rating}}</p>
                <div class="author-profile d-flex mb-3 d-flex flex-column align-items-center">
                    <img class="card-img-top mx-2 profile-image" src="{% static 'images/default_profile_image.jpg' %}" alt="author profile image">
                    <div class="author-personal">
                        <h5 class="author-bio">{{review.author}} wrote:</h5>
                        <p class="author-industry">industry: {{review.job_industry}}</p>
                    </div>
                </div>
                <div class="main-review-content d-flex align-items-start justify-content-center">
                    <p>{{review.review | safe}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="my-5 pt-4">Your Reviews</h2>
    <div class="user_reviews d-flex flex-column align-items-center justify-content-center">
        {% for review in user_reviews %}
        <div class="col-md-6 col-sm-12 
        {% if review.author == request.user and not review.approved %}faded 
        {% endif %}zenlist-review-user mb-3 mx-2 px-4 py-2 bb-grey">
            <div class="author-review mb-3 text-center">
                <p class="star-rating">{{review.rating}}</p>
                <div class="author-profile d-flex mb-3 d-flex flex-column align-items-center">
                    <img class="card-img-top mx-2 profile-image" src="{% static 'images/default_profile_image.jpg' %}" alt="author profile image">
                    <div class="author-personal">
                        <h5 class="author-bio">{{review.author}} wrote:</h5>
                        <p class="author-industry">industry: {{review.job_industry}}</p>
                    </div>
                </div>
                <div class="main-review-content d-flex align-items-start justify-content-center">
                    <p>{{review.review | safe}}</p>
                </div>
            </div>
            <p>Your comment is awaiting approval!</p>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<div class="container">
    <div class="row d-flex flex-column justify-content-around align-items-center text-center my-3">
        <h1 class="mb-2">😯</h1>
        <p>Looks like our reviews page is being updated!<br />Please take a minute and leave a review :)</p>
    </div>
    {% include 'scrum/_review_form.html' with reviewForm=reviewForm %}
</div>
{% endif %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}" type="application/javascript"></script>
{% endblock %}