{% extends "base.html" %}
{% load static %}

{% block content %}
{% if reviews %}
<div class="container full-width d-flex flex-column mt-3 mx-0">
    <div class="heading-container d-flex flex-column align-items-center justify-content-center mb-4 text-center">

        <h1>Read what Our Customers Say...</h1>
        <div class="select-filter my-4">
            <label for="review-filter" class="me-2"><strong>Sort by:</strong></label>
            <select name="review-filter" class="px-2 py-1" id="review-filter">
            <option value="by best">by best</option>
            <option value="by lowest">by lowest</option>
            <option value="by recent">by recent</option>
            </select>
        </div>

    </div>

    <div class="row d-flex justify-content-center" id="review-box">
        {% for review in reviews %}
        {% if review.approved %}
        <div class="card col-md-4 col-sm-12 mb-3 mx-2" style="background-color: rgb(232, 236, 242); outline: none; border: none;">
            <div class="card-body zenlist-review" data-reviewedOn="{{review.reviewed_on}}" data-highestRate="{{review.rating}}" data-review-id="{{review.id}}">
                <div class="author-review mb-3 text-center">

                    <h2 class="star-rating">{{review.rating}}</h2>
                    <div class="author-profile d-flex mb-3 d-flex flex-column align-items-center">
                        <img class="card-img-top profile-image m-3" src="{% static 'images/default_profile_image.jpg' %}" alt="author profile image">
                        <div class="author-personal">
                            <h5 class="author-bio">{{review.author}} wrote:</h5>
                            <p class="author-industry">industry: {{review.job_industry}}</p>
                        </div>
                    </div>
                    <div class="main-review-content d-flex align-items-start justify-content-center">
                        <p>{{review.review | safe}}</p>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if user_reviews %}
    <div class="row  d-flex justify-content-around align-items-center">
        <h5 class="my-5 pt-4 text-center">Your Reviews Awaiting Approval</h5>
        {% for review in user_reviews %}
        {% if not review.approved %}
        <div class="card col-md-6 col-sm-12 mb-3 mx-2">
            <div class="card-body user_reviews d-flex flex-column align-items-center justify-content-center">
                <div class="col-md-6 col-sm-12 {% if review.author == request.user and not review.approved %}faded 
                {% endif %}zenlist-review-user mb-3 mx-2 px-4 py-2">
                    <div class="author-review mb-3 text-center">
                        <h2 class="star-rating">{{review.rating}}</h2>
                        <div class="author-profile d-flex mb-3 d-flex flex-column align-items-center">
                            <img class="card-img-top profile-image m-3" src="{% static 'images/default_profile_image.jpg' %}" alt="author profile image">
                            <div class="author-personal">
                                <h5 class="author-bio">{{review.author}} wrote:</h5>
                                <p class="author-industry">industry: {{review.job_industry}}</p>
                            </div>
                        </div>
                        <div class="main-review-content d-flex align-items-start justify-content-center">
                            <p>{{review.review | safe}}</p>
                        </div>
                    </div>
                </div>
                <p>This comment is awaiting approval!</p>
                <button type="button" data-review-id="{{review.id}}" class="btn btn-danger btn-delete">
                    Delete Review
                    <i class="fa-solid fa-trash ms-3"></i>
                </button>
            </div>
        </div>
        {% include 'scrum/_review_delete.html' with review=review %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% else %}
<div class="container">
    <div class="row d-flex flex-column justify-content-around align-items-center text-center my-3">
        <h1 class="mb-2">😯</h1>
        <p>Looks like our reviews page is being updated!<br />Please take a minute and leave a review :)</p>
    </div>
    {% include 'scrum/_review_form.html' with reviewForm=reviewForm %}
</div>
{% endif %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}" type="application/javascript"></script>
{% endblock %}