{% load account %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Confirm Email Address" %}</title>
</head>
<body>
    <p>{% user_display user as user_display %}</p>
    <p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        Hey there! Please verify your email by clicking the button below :)
    {% endblocktrans %}
    </p>
    <a href="{{ activate_url }}" class="btn btn-warning my-3 p-2">
        <button>Verify Email</button>
    </a>
</body>
</html>
