{% load account %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Confirm Email Address" %}</title>
</head>
<body>
    <p>{% user_display user as user_display %}</p>
    <p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    Click on the button below to verify your email!
    {% endblocktrans %}</p>
    <p>
        <a href="{{ activate_url }}" class="btn btn-warning my-3 p-2">Verify Email</a>
    </p>
</body>
</html>
