{% load static %}
<div class="workspace-analytics">
    <div class="analytic-intro d-flex flex-row align-items-center brand">
        <h2><i class="fa-solid fa-fire fa-sm mx-3"></i>Tasks due today</h2>
        <br>
    </div>
    {% for analytic in due_tasks %}
    {% if analytic.due_count > 0 %}
    <div class="due-today d-flex flex-column justify-content-center my-4 p-2" style="border-bottom: 1px dashed darkgrey;">
        <em><strong>{{analytic.due_count}} task(s) due </strong>in '{{analytic.title}}'</em>
    </div>
    {% endif %}
    {% endfor %}
</div>