{% load crispy_forms_tags %}
<div class="container container-ws-modal">
    <!-- Button trigger modal -->
    <button id="workspaceModal" type="button" class="btn btn-lg btn-warning authentication-button" data-bs-toggle="modal" data-bs-target="#addWorkspace">
        Add Workspace<i class="fa-solid fa-plus ms-3"></i>
    </button>
    <!-- /Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="addWorkspace" tabindex="-1" role="dialog" aria-labelledby="addWorkspaceTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-start justify-content-center">
                    <h4 class="modal-title my-2" id="addWorkspaceLongTitle">💫 Add a Workspace 💫</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center my-2">
                    <div class="workspace-form">
                        <form id="workspaceForm" class="mb-4" method="post">
                        {% csrf_token %}
                        {{ workspace_form | crispy }}
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>  Cancel</button>
                            <button type="submit" id="submitButton" class="btn btn-primary btn-warning"><i class="fa-regular fa-circle-check"></i>  Save Workspace</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>