{% extends "../base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container text-center">
  <div class="row d-flex justify-content-center align-items-center">
    <span class="h1 mb-2">{% trans "Sign Up" %}</span><br />
      <p class="already-account">{% blocktrans %}Already have an account? Please <a href="{{ login_url }}" class="direct-link">sign in</a>.{% endblocktrans %}</p>
      <form class="signup col-4 mt-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <!-- changed from .as_p -->
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-warning btn-authentication my-5" type="submit">{% trans "Sign Up" %}</button>
      </form>
  </div>
</div>

{% endblock content %}
