{% extends "base.html" %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <!-- Form to create new tasks -->
        <div class="col-4">
            <div class="card">
                <div class="card-body mx-2 my-2">
                    <h4>Add a Task:</h4>
                    <form id="taskForm" method="post"
                    style="margin-top: 1.3em;">
                    {{ task_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit"
                        class="btn btn-signup btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Form to create new tasks -->
        <!-- Existing tasks -->
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <!-- To Do Tasks -->
                            <div class="col-4">
                                <h3>To Do</h3>
                                <p>Total tasks : {{todo_count}}</p>
                                {% for task in todo_tasks %}
                                {% include 'workspace/_task_detail.html' with task=task id='collapseOne' %}
                                {% endfor %}
                            </div> 
                            <!-- /To Do Tasks -->
                            <!-- In Progress Tasks -->
                            <div class="col-4">
                                <h3>In Progress</h3>
                                <p>Total tasks : {{progress_count}}</p>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item">
                                        {% for task in progress_tasks %}
                                        {% include 'workspace/_task_detail.html' with task=task id='collapseTwo' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- /In Progress Tasks -->
                            <!-- Done Tasks -->
                            <div class="col-4">
                                <h3>Completed</h3>
                                <p>Total tasks : {{completed_count}}</p>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item">
                                        {% for task in completed_tasks %}
                                        {% include 'workspace/_task_detail.html' with task=task id='collapseThree' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- /Done Tasks -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Existing tasks -->
    </div>
</div>
{% else %}
    <p>Please log in</p>
{% endif %}
{% endblock %}