{% extends "base.html" %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<!-- Breadcrumb -->
{% include 'workspace/ws_detail_breadcrumb.html' %}
<!-- /Breadcrumb -->
<div class="container-fluid">
    <div class="row d-flex" id="taskRowContainer">
        <!-- Form to create new tasks -->
        <div class="col-lg-3 col-md-12">
            <div class="card" id="taskCard">
                <div class="card-body mx-2 my-2">
                    <h3 class="h4"><i class="fa-solid fa-plus"></i>   Add Task</h3>
                    <form id="taskForm" method="post" action="">
                    {% csrf_token %}
                    {{ task_form | crispy }}
                    <button id="submitButton" type="submit"
                        class="btn btn-lg btn-warning">Submit   <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Form to create new tasks -->
        <!-- Existing tasks -->
        <div class="col-lg-9 col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 p-1">
                                <div class="col-12 task-box text-white p-4">
                                    <div class="heading-container">
                                        <h3>To Do</h3>
                                        <p>Total tasks : {{todo_count}}</p>
                                    </div>
                                    {% include 'workspace/_select_field.html' with uniqueIdValue=1 %}
                                    {% for task in todo_tasks %}
                                    <div id="tasks-todo">
                                        {% include 'workspace/_task_detail.html' with task=task id='todo{{forloop.counter}}' jsIdentifier='ToDo' %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div> 
                            <!-- /To Do Tasks -->
                            <!-- In Progress Tasks -->
                            <div class="col-lg-4 col-md-4 col-sm-12 p-1">
                                <div class="col-12 task-box text-white p-4">
                                    <div class="heading-container">
                                        <h3>In Progress</h3>
                                        <p>Total tasks : {{progress_count}}</p>
                                    </div>
                                    {% include 'workspace/_select_field.html' with uniqueIdValue=2 %}
                                    {% for task in progress_tasks %}
                                    <div id="tasks-inprogress">
                                        {% include 'workspace/_task_detail.html' with task=task id='progress{{forloop.counter}}' jsIdentifier='InProgress' %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- /In Progress Tasks -->
                            <!-- Done Tasks -->
                            <div class="col-lg-4 col-md-4 col-sm-12 p-1">
                                <div class="col-12 task-box text-white p-4">
                                    <div class="heading-container">
                                        <h3>Completed</h3>
                                        <p>Total tasks : {{completed_count}}</p>
                                    </div>
                                    {% include 'workspace/_select_field.html' with uniqueIdValue=3 %}
                                    {% for task in completed_tasks %}
                                    <div id="tasks-completed">
                                        {% include 'workspace/_task_detail.html' with task=task id='complete{{forloop.counter}}' jsIdentifier='Completed' %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- /Done Tasks -->
                        </div>
                    </div>
        </div>
        <!-- /Existing tasks -->
    </div>
</div>

{% else %}
    <p>Please<a class="nav-link btn px-2 text-body-secondary" href="{% url 'account_signup' %}">SignUp</a>to view your workspaces!</p>
{% endif %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/tasks.js' %}" type="module"></script>
{% endblock %}