{% extends "base.html" %} {% block content %}
{% load static %}

{% if user_workspaces %}
<div class="container">
    <div class="row d-flex align-items-start justify-content-center">
        <!-- Workspace form. -->
        <div class="col-sm-12 col-md-6 col-lg-4">
            {% include 'workspace/_task_analytics.html' %}
        </div>
        <!-- /Workspace form. -->
        <!-- A list of registered user workspaces. -->
        <div class="col-sm-12 col-md-6 col-lg-8">
            {% for space in spaces %}
            <!-- Takes the user into the full workspace view. -->
            <div class="workspace-container d-flex align-items-center mb-4 p-3 direct-link" style="background-color: rgb(241, 241, 241); border-radius: 10px;">
                <a href="{% url 'full_workspace' space.slug %}" class="col-sm-12 col-md-6 col-lg-10">
                    <h3 class="post-title">{{ space.title }}</h3>
                    <p class="post-subtitle"> last modified: {{ space.updated_on }}</p>
                </a>
                <!-- Delete workspace button -->
                <form action="{% url 'delete_workspace' space.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-delete col-sm-12 col-md-6 col-lg-2 py-2 px-5 d-flex justify-content-center" style="background-color: white;">Delete</button>
                </form>
                <!-- Delete workspace button -->
            </div>
            {% endfor %}
            {% include 'workspace/_ws_modal.html' %}
        </div>
    </div>
</div>
<!-- A list of registered user workspaces. -->
{% else %}
<!-- Create a workspace directly. -->
<div class="row d-flex flex-column py-3">
    <div class="col-12 text-center">
        <img src="../../../static/images/llamas.jpg" width='300' alt="confused llama">
        <h3 class="pt-4">Duuuuuuuuude ... no workspaces?</h3>
    </div>
    <div class="col-12 mt-4 d-flex align-items-center justify-content-center">
        {% include 'workspace/_ws_modal.html' %}
    </div>
</div>
<!-- /Create a Workspace directly. -->
{% endif %}
{% endblock %}