@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* Colours */
.jumbotron {
  background-image: url("../images/balance.jpg");
  background-color: #1b1b1b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 500px;
}

li a:hover,
.socials a:hover,
.download-scrum:hover {
  color: rgb(255, 119, 0);
}

.socials a {
  color: rgb(27, 27, 27);
}

.direct-link {
  transition: all 0.2s ease;
}

.direct-link:hover {
  transform: scale(1.02);
}

.nav-item:hover {
  color: rgb(71, 71, 108);
}

.btn-delete {
  font-weight: 500;
}

.active {
  background-color: rgb(130, 164, 179);
  border-radius: 5px;
}

.white-text {
  color: rgb(246, 246, 246);
}

.post-subtitle {
  font-size: 10px;
}

/* Annotations & Makeshift Symbols */
/* Used instead of .nav-item-line::after content due to height control. */
.line {
  height: 100%;
  width: 1px;
  background-color: rgb(22, 22, 22);
}

/* Branding */
body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  font-size: 2rem;
}

.authentication-button {
  width: 150px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.authentication-button:hover {
  transform: scale(1.05);
}

.workspace-container {
  border-bottom: 1px dashed darkgrey;
  transition: all 0.2s ease;
}

.workspace-container:hover {
  transform: scaleX(1.02);
}

.workspace-container a {
  text-decoration: none;
}

/* UIUX */
.visit-scrum {
  text-decoration: none;
  color: #1b1b1b;
}

.full-width{
  min-width: 100%;
}

.scrum-content {
  font-size: 1rem;
  line-height: 23px;
}

.nav-link {
  transition: all 0.2s ease;
  text-decoration: none;
}

.nav-link:hover {
  transform: scale(1.04);
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.reviewed-time {
  font-size: 0.8rem;
}

.author-bio {
  font-size: 0.9rem;
}

.author-industry {
  font-size: 0.6rem;
}

.star-rating {
  font-size: 2rem;
}

.task-filter-select{
  font-size: 13px;
}

.breaker {
  background-image: url("../images/office-chairs.jpg");
  background-color: #1b1b1b;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

.scrum-framework-container{
  background-color: rgba(12, 21, 26, 0.8);
}

.breadcrumb-item a{
  color: rgb(130, 164, 179);
  text-decoration: none;
}

.active-breadcrumb {
  text-decoration: underline;
}

.task-box {
  min-height: 100px;
}

.analytics-card {
  min-height: 500px;
}

.workspace-link {
  color: #1b1b1b;
  transition: all 0.4s ease;
}

.workspace-link:hover {
  color: rgb(94, 0, 166);
}

.breadcrumb-link-nav {
  text-decoration: none;
  color: #1b1b1b;
  transition: all 1s ease;
}

.breadcrumb-link-nav:hover {
  color: purple;
}

.bb-grey {
  border-bottom: 1px dashed darkgrey;
}

.critical {
  background-color: red;
}

.major {
  background-color: orange;
}

.minor {
  background-color: rgb(255, 200, 0);
}

.nice {
  background-color: green;
}

.priority-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Bootstrap Overrides */
.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.nav-link-items {
  width: 100%;
}

a .social-icon {
  color: rgb(27, 27, 27);
}

.task-box {
  background-color: rgb(68, 99, 120);
  min-height: 250px;
  border-radius: 10px;
}

.task-notes {
  font-size: 14px;
}

.red-font {
  color: rgb(173, 0, 0);
}

.already-account {
  font-size: 1rem;
}

#signup_form ul {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
}

#signup_form ul li {
  font-size: 0.7rem;
  color: rgb(177, 177, 177);
}

.faded {
  color: lightgray;
}

#hello-content {
  font-family: "Source Code Pro", monospace;
}

.form-select:focus, 
.form-control:focus{
  border: 2px solid rgb(68, 99, 120);
  box-shadow: none;
}

.due-task-container{
  background-color: rgb(74, 84, 91); 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
  min-height: 500px;
}

#workspace-analytics{
  height: 450px;
}

/* Media Queries */
@media all and (max-width: 450px){
  .heading-container{
    flex-direction: column;
    margin: 0 0;
  }
}

@media all and (max-width: 760px) {
  .nav-item {
    justify-items: start;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }

  .navbar {
    padding: 0 20px;
  }

  .container-ws-modal{
    justify-content: center;
  }
}

@media all and (max-width: 990px) {
  #container-scrum-row {
    flex-direction: column-reverse;
  }

  #taskRowContainer {
    flex-direction: column-reverse;
  }

  .analytic-intro{
    display: none;
  }

  #due-task-container {
    min-height: 170px;
    margin: 30px 0;
    border-radius: 0;
    text-align: center;
  }
}

@media all and (min-width: 760px) {
  #navbarItems{
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .button-container-workspace{
    display: flex;
    align-items: start;
    justify-content: end;
  }
}
